<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AMW_MEETINGConnectionString" connectionString="Data Source=KUDO-LAP;Initial Catalog=AMW_MEETING;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime appRequestQueueLimit="100" executionTimeout="6000000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
  <appSettings>
    <add key="AbsoluteUri" value="http://localhost:8888/"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="ContactEmail" value="ad.daitruongphat@gmail.com"/>
    <add key="ContactPass" value="DTP@1234"/>
  </appSettings> 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>