<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <!-- load NLog.Extended to enable ASP.NET-specific functionality -->
    <add assembly="NLog.Extended" />
  </extensions>

  <!-- define various log targets -->
  <targets>
    <target xsi:type="File" name="f1" fileName="${basedir}/logs/LogErrors/${shortdate}.txt"
            layout="${message}" />

    <!--<target xsi:type="File" name="f2" fileName="${basedir}/logs/LogUsers/${shortdate}.txt"
        layout="${message}" />

    <target xsi:type="File" name="f3" fileName="${basedir}/logs/LogCardUse/${shortdate}.txt"
        layout="${message}" />-->

    <wrapper-target xsi:type="AspNetBufferingWrapper" name="allOutputs">
      <wrapper-target xsi:type="PostFilteringWrapper">
        <compound-target xsi:type="SplitGroup">
          <target-ref name="f1" />
          <!--<target-ref name="f2" />
          <target-ref name="f3" />-->
        </compound-target>
        <!--<when exists="level >= LogLevel.Error" filter="level == LogLevel.Trace" />-->
      </wrapper-target>
    </wrapper-target>
  </targets>


  <rules>
    <logger name="*" minlevel="Error" writeTo="f1" />
    <!--<logger name="*" minlevel="Trace" writeTo="f2,f3" />-->
  </rules>

</nlog>