<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="AMW_MEETINGConnectionString" connectionString="Data Source=14.0.24.245;Initial Catalog=AMW_MEETING_ONLINE;User ID=amw123;Password=amw123"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <httpRuntime appRequestQueueLimit="100" executionTimeout="6000000"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </httpModules>
  </system.web>
  <appSettings>
    <add key="AbsoluteUri" value="http://hotro.phonghopamway.com.vn/"/>
    <add key="SmtpServer" value="smtp.gmail.com"/>
    <add key="ContactEmail" value="ad.amwaymeeting@gmail.com"/>
    <add key="ContactPass" value="AMW@1234"/>
  </appSettings> 
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>