
.td_title {
    padding-right:10px;
    border-bottom: 1px solid #d0d1d7; 
    text-align:right; 
    font-weight:bold;
    color:#403f40;
    font-size:12px;
}
.td_value {
    padding-left:10px;
    border-bottom: 1px solid #d0d1d7; 
    text-align:left;
    color:#403f40;
    font-size:12px;
}

.td_title_2 {
    padding-right:10px;
    text-align:right; 
    font-weight:bold;
    color:#403f40;
    font-size:12px;
    width:25%;
}
.td_value_2 {
    padding-left:10px;
    text-align:left;
    color:#403f40;
    font-size:12px;
    width:25%;
}

.td_list {
    padding-left:10px;
    color:#403f40;
    font-size:12px;
    border-bottom: 1px solid #d0d1d7; 
}
.menuTitle {
    font-size:16px;
    margin-left:5px; 
    font-weight:bold;
    color: #008080; 
    padding-bottom:5px;
}
.title {
    font-size:16px;
    font-weight:bold;
}
.TitleLevel1 {
    text-align:left; 
    margin-left:15px; 
}
.TitleLevel2 {
    text-align:left; 
    margin-left:25px; 
    font-weight:bold;
}
.TitleLevel3 {
    text-align:left; 
    margin-left:30px;
}
.TitleLevel4 {
    text-align:left;
    margin-left:40px;
}

.button{
    display: inline-block;
    min-width: 60px;
    text-align: center;
    color: #444;
    font-size: 12px;
    font-weight: 600;
    height: 25px;
    padding: 0px 8px;
    line-height: 25px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
     border: 1px solid #DCDCDC;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.textboxnumber{
    text-align:right;
}

#space
{
    width:100%; 
    height:10px;
    background-image:url(../Images/bg_space.gif);   
    text-align:center; 
    color:White;
}
#end
{
    width:100%; 
    height:auto;
    text-align:center;
    color:#4c4c27;
    display:table;
}
#end td
{
    line-height:12px;
}
.spanName
{
    color:#4c4c27; 
    font-weight:bold;
    font-family:Tahoma;
    font-size:small;
}
.spanValue
{
    color:#4c4c27;
    font-family:Tahoma;
    font-size:small;
}
.titleText
{
    font-size:20px; 
     
    color:#4c4c27;
}
.borderTD
{
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
    width:200px;
}
.borderTable
{
   border-left: 1px solid #4c4c27;
    border-top: 1px solid #4c4c27; 
   font-family:Tahoma; 
   font-size:12px; 
}
.TDTopPhieuThu
{
    width:25%;
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
	background-color:#4c4c27;
	font-weight:bold;
	text-align:center;
	color:White;
}
.TDPhieuThu
{
    width:25%;
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
	text-align:center;
}

#defaultpage
{
    width:100%;
    height:auto;    
    text-align:center;
    display:table; 
}
.CityName
{
    font-size:18px;
}
.CopyRight
{
    font-size:10px;
    text-shadow: #4c4c27 0.1em 0.1em 0.2em;
}

img
{
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px; 
    border-radius: 5px;
    border:0px;
}

