body 
{
    width:98%;
    height:auto;
    text-align:center;
    background-image:url(../Images/bg.gif);
    font-family:Arial;
}
img
{
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px; 
    border-radius: 5px;
    border:0px;
}
.temp
{
    height:3px;
}
#wrap
{
    width:1024px;
    height:auto;
    margin: 0 auto;
    text-align:left;
    position:relative;
    display:table;
    background-color:White;
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px; 
    border-radius: 5px; 
}
#Header
{
    width:1024px;
    height:150px;
    background-color:White;
    margin-top:10px; 
}
#center
{
    height:800px;
    background-color:White;
    background-image:url(../Images/tall.gif);
    background-repeat:repeat-y;
    position:relative;
    display:table; 
}
#Content
{
    width:800px;
    height:auto;
    padding-top:10px;
    padding-left:10px;
    float:right;
    text-align:center;
}
#menuLeft
{
    width:200px;
    height:auto;
    float:left;
    padding-left:10px;  
}
#menuLeft img 
{
    -moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px; 
    border-radius: 5px;
    border:0px; 
}
#menuLeft img:hover 
{
    -webkit-filter: grayscale(0%);    
}

#footer
{
    width:1024px;
    height:10px;
    background-color:#fe04ef;  
    background-image:url(../Images/bg_footer.gif);
    background-position:bottom;
    background-repeat:repeat-x; 
}
#space
{
    width:100%; 
    height:10px;
    background-image:url(../Images/bg_space.gif);   
    text-align:center; 
    color:White;
}
#end
{
    width:100%; 
    height:auto;
    text-align:center;
    color:#4c4c27;
    display:table;
}
#end td
{
    line-height:12px;
}
.spanName
{
    color:#4c4c27; 
    font-weight:bold;
    font-family:Tahoma;
    font-size:small;
}
.spanValue
{
    color:#4c4c27;
    font-family:Tahoma;
    font-size:small;
}
.titleText
{
    font-size:22px; 
     
    color:#4c4c27;
}
.borderTD
{
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
    width:200px;
}
.borderTable
{
   border-left: 1px solid #4c4c27;
    border-top: 1px solid #4c4c27; 
   font-family:Tahoma; 
   font-size:12px; 
}
.TDTopPhieuThu
{
    width:25%;
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
	background-color:#4c4c27;
	font-weight:bold;
	text-align:center;
	color:White;
}
.TDPhieuThu
{
    width:25%;
    border-right: 1px solid #4c4c27;
	border-bottom: 1px solid #4c4c27;
	text-align:center;
}

#defaultpage
{
    width:100%;
    height:auto;    
    text-align:center;
    display:table; 
}
.CityName
{
    font-size:18px;
}
.CopyRight
{
    font-size:10px;
    text-shadow: #4c4c27 0.1em 0.1em 0.2em;
}