/* CSS Document */
body
{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
a
{
    text-decoration: none;
}
img
{
    border: none;
}
ul
{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
input, select, textarea
{
    outline: none;
}
#maincontainer
{
    width: 1000px;
    margin: auto;
}
div#header
{
    height: 130px;
    clear: both;
    overflow: hidden;
    margin: 0px 0px 0px 0px;
    position: relative;
    background: url(../images/banner_top.jpg) no-repeat center top;
}
div.header_left
{
    width: 166px;
    float: left;
    margin: 0px 0px 0px 29px;
}
div.header_right
{
    width: 160px;
    float: right;
    margin: 0px 36px 0px 0px;
}

div#marquee1
{
    height: 3px;
    background: #3F913C;
    width: 1000px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

div#marquee
{
    height: 3px;
    background: #3F913C;
    width: 1000px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}
div.marquee
{
    width: 680px;
    float: right;
    height: 5px;
    overflow: hidden;
}
div.marquee > span
{
    line-height: 41px;
    font-style: italic;
    margin: 0px 0px 0px 15px;
}
div.marquee > p
{
    color: #d1531e;
    margin: 0px 0px 0px 133px;
    display: inline;
}
div#search
{
    width: 305px;
    float: left;
    height: 41px;
    overflow: hidden;
    padding: 0px 0px 0px 10px;
}
form[name=formsearch]
{
    width: 299px;
    padding: 0px;
    margin: 8px 0px 0px 0px;
    border: 1px solid #cccccc;
}
form[name=formsearch] input[type=text]
{
    height: 26px;
    width: 219px;
    border: none;
    padding: 0px 3px;
    float: left;
}
form[name=formsearch] input[type=submit]
{
    background: url(../images/bg_search.jpg) repeat-x center top;
    background-color: transparent;
    border: none;
    height: 26px;
    width: 74px;
    float: left;
    cursor: pointer;
    color: #fff;
    font-size: 12px;
    line-height: 26px;
}
form[name=formsearch] input[type=submit]:hover
{
    color: #0FF;
}
div#slide_main
{
    width: 1000px;
    background: #F3F3F3;
    height: auto;
    overflow: hidden;
    margin: 2px 0px 2px 0px;
    padding: 0px 0px 0px 0px;
}
div#slide_main > div.left
{
    width: 340px;
    float: left;
    height: 400px;
    overflow: hidden;
    padding: 1px 0px;
}
div#slide_main > div.right
{
    width: 650px;
    float: left;
    height: 402px;
    overflow: hidden;
}
div#slide_main > div.left > div.left_box
{
    width: 340px;
    height: 80px;
}
div#slide_main > div.left > div.left_box > div.left_box_content
{
    width: 243px;
    height: 70px;
    padding: 10px 15px 0px 15px;
    overflow: hidden;
    float: left;
    background: url(../images/bg_boxleft.jpg) repeat-x center bottom;
}
div#slide_main > div.left > div.left_box > div.left_box_arrow
{
    width: 67px;
    height: 80px;
    overflow: hidden;
    float: left;
    position: relative; /*background-color: #d52215; 	background-image: url(../images/shadow_w_39.png); 	background-repeat: repeat-x; 	background-position: center bottom;*/
}
div#slide_main > div.left > div.left_box > div.left_box_arrow img
{
}
div#slide_main > div.left > div.left_box > div.left_box_content h3
{
    margin: 0px 0px 5px 0px;
    height: 20px;
    overflow: hidden;
}
div#slide_main > div.left > div.left_box > div.left_box_content h3 a
{
    color: #333333;
    font-weight: normal;
    font-size: 16px;
}
div#slide_main > div.left > div.left_box > div.left_box_content h3 a:hover
{
    color: #000066;
}
div#slide_main > div.left > div.left_box > div.left_box_content p
{
    color: #fff;
    margin: 0px 0px 0px 0px;
    line-height: 15px;
    overflow: hidden;
    height: 30px;
}
div#main
{
    width: 1000px;
    margin: auto;
    clear: both;
    overflow: hidden;
}
div#main > div.left
{
    width: 690px;
    float: left;
    overflow: hidden;
    margin: 0px 10px 0px 0px;
}
div#main > div.right
{
    width: 300px;
    float: left;
    overflow: hidden;
}
#tinnoibat
{
    height: 354px;
    border: 1px solid #cfcfcf;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    margin: 0px 0px 15px 0px;
}
div.tinnoibat_title
{
    color: #fff;
    height: 32px;
    line-height: 32px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0px 0px 12px;
    background: #e13920;
    -webkit-border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -ms-border-radius: 6px 6px 0px 0px;
    border-radius: 6px 6px 0px 0px;
    margin: 0px 0px 7px 0px;
}
#tinnoibat > div.left
{
    width: 320px;
    border-right: 1px solid #fbc992;
    float: left;
    padding: 0px 9px 0px 9px;
}
div.tinnoibat_img
{
    width: 320px;
    height: 210px;
    margin: 0px 0px 10px 0px;
}
div.tinnoibat_content
{
    height: 88px;
    overflow: hidden;
}
div.tinnoibat_content h2
{
    margin: 0px 0px 7px 0px;
}
div.tinnoibat_content h2 a
{
    color: #df772c;
    font-size: 14px;
}
div.tinnoibat_content h2 a:hover
{
    color: #e13920;
}
div.tinnoibat_content > div
{
    line-height: 16px;
    height: 48px;
    overflow: hidden;
}
div.tinnoibat_content > div span
{
    color: #df772c;
}
#tinnoibat > div.right
{
    width: 328px;
    float: left;
    padding: 0px 0px 0px 11px;
}
#tinnoibat > div.right > ul.list_tin
{
}
ul.list_tin > li
{
    line-height: 22px;
    background: url(../images/icon_tri.png) no-repeat left 7px;
    padding: 0px 0px 0px 12px;
}
ul.list_tin > li > a
{
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 22px;
    color: #6f6f6f;
}
ul.list_tin > li > a:hover
{
    color: #e13920;
}

div.box_right
{
    overflow: hidden;
    margin: 0px 0px 7px 0px;
}
div.box_right.togiactoipham
{
    background: url(../images/bg_tocao.png) no-repeat center top;
    height: 103px;
    color: #fff;
}
div.box_right.togiactoipham h4
{
    font-size: 24px;
    margin: 10px 0px 0px 23px;
    text-transform: uppercase;
}
div.box_right.togiactoipham p
{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    margin: 9px 0px 7px 30px;
}
div.box_right.togiactoipham a
{
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0px 0px 0px 130px;
}
div.box_right.togiactoipham a:hover
{
    color: #006;
}
div.box_right_title
{
    height: 55px;
    line-height: 55px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background: url(../images/bg_red_55.jpg) repeat-x center top;
    text-align: center;
    font-weight: bold;
    -webkit-border-radius: 7px 7px 0px 0px;
    -moz-border-radius: 7px 7px 0px 0px;
    -ms-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
    border: 1px solid #cccccc;
}
div.box_right_content
{
    background: #f5f5f5;
    -webkit-border-radius: 0px 0px 7px 7px;
    -moz-border-radius: 0px 0px 7px 7px;
    -ms-border-radius: 0px 0px 7px 7px;
    border-radius: 0px 0px 7px 7px;
    border: 1px solid #cccccc;
    border-top: none;
    padding: 25px 0px 0px 0px;
}
div.box_right_content.danhba
{
    text-align: center;
    padding: 0px;
    line-height: 55px;
    font-size: 18px;
}
div.box_right_content.danhba a
{
    color: #646363;
}
div.box_right_content.danhba a:hover
{
    color: #e13920;
}
div.box_right_content.lienket
{
    padding: 25px 0px 25px 0px;
}
div.style_select
{
    width: 260px;
    margin: auto;
}
span.customSelect
{
    font-size: 11px;
    background-color: #e3e1e1;
    color: #000;
    padding: 0px 7px;
    border: 1px solid #c9c7c7;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
    width: 244px;
}
span.customSelect.changed
{
    background-color: #f0dea4;
}
.customSelectInner
{
    width: 250px !important;
    background: url(../images/arrow_select.jpg) no-repeat center right;
}
div.box_right_content.truycap
{
    padding: 25px 0px 25px 0px;
}
div.box_right_content.truycap
{
    text-align: center;
}
div.video
{
    border: 1px solid #cccccc;
    border-top: none;
}
div.quangcao
{
    margin: 0px 0px 15px 0px;
    clear: both;
    overflow: hidden;
}
div.box_tin
{
    width: 320px;
    float: left;
    min-height:400px;
    height: auto;
    float: left;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid #cfcfcf;
    overflow: hidden;
    margin: 0px 4px 10px 4px;
}
div.box_tin_title
{
    background: url(../images/bg_gold.png) no-repeat center top;
    height: 42px;
    line-height: 42px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
}
div.box_tin_img
{
    width: 146px;
    height: 106px;
    float: left;
    margin: 5px 10px 5px 5px;
}
div.box_tin_content
{
    width: 167px;
    float: left;
    margin: 5px 0px 0px 0px;
}
div.box_tin_content h3
{
    margin: 0px 0px 2px 0px;
    overflow: hidden;
    max-height: 34px;
    line-height: 17px;
}
div.box_tin_content h3 a
{
    color: #1e5f95;
}
div.box_tin_content h3 a:hover
{
    color: #e13920;
}
div.box_tin_content > div
{
    line-height: 15px;
    height: 75px;
    overflow: hidden;
}
div.tinkhac
{
    clear: both;
    overflow: hidden;
}
div.tinkhac ul
{
    padding: 5px 0px 0px 7px;
}
div.tinkhac ul li
{
    line-height: 22px;
    background: url(../images/icon_tri.png) no-repeat left 7px;
    padding: 0px 0px 0px 12px;
}
div.tinkhac ul li a
{
    font-family: Tahoma, Geneva, sans-serif;
    line-height: 22px;
    color: #6f6f6f;
}
div.tinkhac ul li a:hover
{
    color: #e13920;
}
div.wrap_box > div.box_tin:nth-child(2n)
{
}
div#slider
{
    clear: both;
    overflow: hidden;
    height: 200px;
}
div.slider_title
{
    height: 49px;
}
div.slider_title div.top
{
    background: url(../images/tab_hinhanh_top_34.jpg) repeat-x center top;
    height: 34px;
    line-height: 34px;
    padding: 0px 0px 0px 20px;
    font-weight: bold;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
}
div.slider_title div.bottom
{
    background: url(../images/tab_hinhanh_bot_15.png) no-repeat left top;
    height: 15px;
}
div#footer
{
    background: url(../images/bg_red_128.jpg) repeat-x center top;
    height: 98px;
    position: relative;
}
div.gototop
{
    color: #003D68;
    background: url(../images/gototop.png) no-repeat center top;
    width: 175px;
    height: 37px;
    position: absolute;
    text-align: center;
    line-height: 37px;
    right: 0px;
    top: 0px;
    cursor: pointer;
}
div.gototop:hover
{
    color: #003D68;
}
div.bg_online
{
    background: url(../images/img_footer.jpg) no-repeat center top;
    width: 390px;
    height: 98px;
    float: right;
}
div.bg_online p
{
    height: 17px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 2px;
    margin: 0px;
}
div.bg_online p span
{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    line-height: 17px;
    padding: 0px 3px;
    background: #fff;
    margin: 0px 4px 0px 0px;
    color: #012896;
}
div.adress
{
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
    color: #fff;
    font-size: 13px;
    position: absolute;
    top: 40px;
    left: 20px;
}
div.adress p
{
    font-weight: bold;
    margin: 0px;
}
div.img_load
{
    position: relative;
}
div.img_load_text
{
    padding: 10px;
    background: rgba(0,0,0,0.7);
    position: absolute;
    bottom: 0px;
    width: 630px;
    color: #fff;
    line-height: 18px;
}
div.img_load_text h3
{
    margin: 0px 0px 5px 0px;
}
div.img_load_text h3 a
{
    color: #FF0;
    font-size: 16px;
}
div.img_load_text p
{
    margin: 0px;
}
.nav_login
{
    height: 26px;
    clear: both;
    overflow: hidden;
    margin-top: 7px;
    text-align: right;
}
/*Uniti bar*/
div.unitibar
{
    text-align: left;
    background: #000000;
    height: 30px;
}
div.unitibar_content
{
    width: 1000px;
    margin: auto;
    color: #fff;
    line-height: 25px;
}
div.unileft_nagivate
{
    float: left;
    width: 600px;
}
div.uniright_nagivate
{
    float: right;
    width: 400px;
    text-align: right;
    margin-top: 5px;
}
a.unitibar
{
    text-decoration: none;
    font: Arial;
    font-size: 14px;
    color: #fff;
}
a.unitibar:hover
{
    text-decoration: underline;
}
.txtactive
{
    font: Arial;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
/* End uniti bar*/

.btn_blue
{
    background: url("../images/btn-blue.gif") repeat-x scroll 0 0 #0090E3;
    border: 1px solid #0090E3;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    padding: 3px 5px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
}

a.btn_blue:hover
{
    border: 1px solid #C75400;
    text-decoration: none;
}
.btn_black
{
    background: url("../images/btn-gray.gif") repeat-x scroll 0 0 #D1D1D1;
    border: 1px solid #AAAAAA;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
    padding: 3px 5px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: 700;
}
a.btn_black:hover
{
    border: 1px solid #C75400;
    text-decoration: none;
}

.a_link
{
    color: #003D68;
    text-decoration: none;
}
a.a_link:hover
{
    color: #003D68;
    text-decoration: underline;
}
.divpopupRight
{
    height: 55px;
    width: 300px;
    float: left;
    margin-top: 8px;
    font-family: Times New Roman;
    font-size: 18px;
}
.divpopupLeft
{
    height: 55px;
    width: 280px;
    float: left;
    text-align: right;
    margin-top: 5px;
    font-family: Times New Roman;
}


.wrapper
{
    padding: 10px;
}
.TitlePage
{
    text-align: center;
    font-size: 24px;
    color: #008080;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}

.TitlePageSub
{
    text-align: center;
    font-size: 14px;
    color: #008080;
    font-weight: bold;
    padding-bottom: 5px;
    padding-top: 5px;
}
.Alerting
{
    color: Red;
    font-size: 1.2em;
    height: 20px;
    line-height: 20px;
    display: block;
}
.Agree
{
    color: Red;
    font-size: 1.2em;
    display: block;
}
.grid
{
    margin: 5px 0px;
    width: 100%;
    border-collapse: collapse;    
}
.grid th, .grid td
{
    border: 1px solid #000000;
}
.grid th
{
    border: 1px solid #000000;
    background: url(../images/toolbar_gr.gif);
    height: 30px;
    color: #FFFFFF;
    padding: 0px 5px;
}
.grid th a
{
    color: #FFFFFF;    
} 
.grid th a:hover
{
    text-decoration: underline;
}
.grid tr
{
    height: 25px;
    line-height: 25px;
}
.grid td
{
    padding: 0px 5px;
    font-size: 13px;
    vertical-align: middle;
}
.grid .pager td
{
    border: none;
}
.grid .pager a:hover
{
    text-decoration: underline;
}
.clearfix:after
{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix
{
    display: inline-block;
}
html[xmlns] .clearfix
{
    display: block;
}
* html .clearfix
{
    height: 1%;
}

.button
{
    float: left;
}
.buttonLeft, .buttonRight, .buttonMiddle
{
    height: 25px;
    width: 5px;
    display: block;
    float: left;
    cursor: pointer;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.buttonLeft
{
    background: url("../images/buttonLeft.png");
}
.buttonRight
{
    background: url("../images/buttonRight.png");
}
.buttonMiddle
{
    background: url("../images/buttonMiddle.png");
    width: auto;
    border: none;
    padding: 0px 13px;
    font-size: 13px;
    line-height: 12px;
    font-weight: bold;
    color: #ffffff;
}

.buttonMiddle
{
    background: url("../images/buttonMiddle.png");
    width: auto;
    border: none;
    padding: 0px 13px;
    font-size: 13px;
    line-height: 12px;
    font-weight: bold;
    color: #ffffff;
}

.btn_admin
{
    background: url("../images/btn_Back.png") no-repeat scroll left top transparent;
    border: medium none;
    cursor: pointer;
    height: 25px;
    width: 108px;
    font-size: 13px;
    font-weight: bold;
    color: #FFFFFF;
}

.EmptyData
{
    color: Red;
}
.divClearBothInAdmin
{
    padding: 5px 0px 0px;
}
.divRowInAdmin
{
    padding-right: 0px;
}
.trper
{
    height: 25px;
    line-height: 25px;
}
.thper
{
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
}
.tdper
{
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
}

.tdsearch1
{
    width: 30px;
}
.tdsearch2
{
    width: 150px;
    padding-right: 0px;
}
.tdsearch3
{
    width: 250px;
    padding-right: 0px;
}
.tdsearch4
{
    width: 50px;
}
.tdsearch5
{
    width: 150px;
    padding-right: 0px;
}
.tdsearch6
{
    width: 250px;
    padding-right: 0px;
}
.tdsearch7
{
    width: 30px;
}

.trmaindel {
    height: 25px;
    line-height: 25px;
}
.thmaindel1 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.thmaindel2 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 80px;
}
.thmaindel3 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 150px;
}
.thmaindel4 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.thmaindel5 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.thmaindel6 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 100px;
}
.thmaindel7 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 80px;
}
.thmaindel8 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
   width: 80px;
}
.thmaindel9 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
   width: 90px;
}
.thmaindel10 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
   width: 90px;
}
.thmaindel11 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}
.thmaindel12 {
    background: url("../images/toolbar_gr.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}

.trroutemaster {
    height: 25px;
    line-height: 25px;
   background-color:#FEBF10;
}
.tdroutemaster1 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdroutemaster2 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 80px;
}
.tdroutemaster3 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 150px;
}
.tdroutemaster4 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdroutemaster5 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdroutemaster6 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 100px;
}
.tdroutemaster7 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 80px;
}
.tdroutemaster8 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
   width: 80px;
}
.tdroutemaster9 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdroutemaster10 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdroutemaster11 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdroutemaster12 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}

.trroutemaster {
    height: 25px;
    line-height: 25px;
}
.throutemaster1 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.throutemaster2 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 80px;
}
.throutemaster3 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 150px;
}
.throutemaster4 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.throutemaster5 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 70px;
}
.throutemaster6 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 100px;
}
.throutemaster7 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 80px;
}
.throutemaster8 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
   width: 80px;
}
.throutemaster9 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}
.throutemaster10 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}
.throutemaster11 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}
.throutemaster12 {
    background: url("../images/toolbar_gr1.gif") repeat scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    height: 30px;
    padding: 0 5px;
    width: 90px;
}

.trsomaster {
    height: 25px;
    line-height: 25px;
    background-color:#AAAAAA;
}
.tdsomaster1 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdsomaster2 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 80px;
}
.tdsomaster3 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 150px;
}
.tdsomaster4 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdsomaster5 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 70px;
}
.tdsomaster6 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 100px;
}
.tdsomaster7 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 80px;
}
.tdsomaster8 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
   width: 80px;
}
.tdsomaster9 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdsomaster10 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdsomaster11 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.tdsomaster12 {
    border: 1px solid #000000;
    font-size: 13px;
    padding: 0 5px;
    vertical-align: middle;
    width: 90px;
}
.txtnumber {
    text-align:right;
    
}

.txtISBNHeader {
    text-align:center;
    color: #FFFFFF;
    font-weight: bold;
    
}

#divSearchList {
  position: relative;
  width: 100%;
  height:600px;
  overflow: auto; 
}

table.gvTheGrid {
  border-collapse: collapse;
  border-spacing: 0;
}
table.gvTheGrid caption {
  padding: 0px 10px;
  border: 1px solid #000000;
}

.gvTheGrid th, .gvTheGrid td
{
    border: 1px solid #000000;
}
.gvTheGrid th
{
    border: 1px solid #000000;
    background: url(../images/toolbar_gr.gif);
    height: 30px;
    color: #FFFFFF;
    padding: 0px 5px;
}
.gvTheGrid th a
{
    color: #FFFFFF;    
} 
.gvTheGrid th a:hover
{
    text-decoration: underline;
}
.gvTheGrid tr
{
    height: 25px;
    line-height: 25px;
}
.gvTheGrid td
{
    padding: 0px 5px;
    font-size: 13px;
    vertical-align: middle;
}
.gvTheGrid .pager td
{
    border: none;
}
.gvTheGrid .pager a:hover
{
    text-decoration: underline;
}

.clrpadding
{
    font-size: 13px;
    padding: 0 0px;
    vertical-align: middle;
}

.grid1
{
    margin: 0px 0px;
    width: 100%;
    border-collapse: collapse;    
}
.grid1 th, .grid td
{
    border: 1px solid #000000;
}
.grid1 th
{
    border: 1px solid #000000;
    background: url(../images/toolbar_gr.gif);
    height: 30px;
    color: #FFFFFF;
    padding: 0px 5px;
}
.grid1 th a
{
    color: #FFFFFF;    
} 
.grid1 th a:hover
{
    text-decoration: underline;
}
.grid1 tr
{
    height: 25px;
    line-height: 25px;
}
.grid1 td
{
    padding: 0px 5px;
    font-size: 13px;
    vertical-align: middle;
}
.grid1 .pager td
{
    border: none;
}
.grid1 .pager a:hover
{
    text-decoration: underline;
}


ul.topnav {

    list-style: none;
    margin: 0;
    float: left;
    width: 1000px;
    background: #003D69;
    font-size: 1.2em;

}

ul.topnav li {

    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/

}

ul.topnav li a{

    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;

}

ul.topnav li a:hover{

    background: url(../images/topnav_hover.gif) no-repeat center top;

}

ul.topnav li span { /*--Drop down trigger styles--*/

    width: 17px;
    height: 35px;
    float: left;
    background: url(../images/subnav_btn.gif) no-repeat center top;

}

ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/

ul.topnav li ul.subnav {

    list-style: none;
    position: absolute;
    left: 0; top: 30px;
    background: #003D69;
    margin: 0; padding: 0;
    display: none;
    float: left;
    width: 230px;
    border: 1px solid #003D69;

}

ul.topnav li ul.subnav li{

    margin: 0; padding: 0;
    border-top: 1px solid #252525; /*--Create bevel effect--*/
    border-bottom: 1px solid #444; /*--Create bevel effect--*/
    clear: both;
    width: 230px;
}

html ul.topnav li ul.subnav li a {

    float: left;
    width: 205px;
    background: #003D69 url(../images/dropdown_linkbg.gif) no-repeat 10px center;
    padding-left: 20px;

}

html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/

    background: #3D7E46 url(../images/dropdown_linkbg.gif) no-repeat 10px center;

} 

ul.nav_top
{
    background: url(../images/bg_nav.jpg) repeat-x center top;
    height: 34px;
    position: relative;
}


.tdmeeting1
{
    width: 10px;
}
.tdmeeting2
{
    width: 230px;
    padding-right: 0px;
}
.tdmeeting3
{
    width: 240px;
    padding-right: 0px;
}
.tdmeeting4
{
    width: 20px;
}
.tdmeeting5
{
    width: 230px;
    padding-right: 0px;
}
.tdmeeting6
{
    width: 240px;
    padding-right: 0px;
}
.tdmeeting7
{
    width: 10px;
}
.marginLeft10
{
    margin-left:10px;
}
.divImgCheckIcon {
    float: right;
    margin-right: 30px;
    margin-top: 0;
    width: 26px;
}
.divImgCheckIcon10 {
    float: right;
    margin-right:10px;
    margin-top: 0;
    width: 26px;
}